*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Nunito;
  color:#000;
}

.form-control:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.App{
  height:100vh;
  width:100%;
}

.navbar {
  background-color: transparent !important;
}

.link {
  text-decoration: none;
}

.day-night {
  width: 10em;
  height: 10em;
}